/* ====================================== */
/* Estilo de letra */
/* ====================================== */
@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@0,400..700;1,400..700&display=swap');


body {
    font-family: "Finlandica", sans-serif;
    overflow-x: hidden;
}


/* ====================================== */
/* MENÚ */
/* ====================================== */
#menu a {
    font-size: 18px;
    font-weight: weight;
    color: #3f3f3f;
}


/* ====================================== */
/* BANNER DE IMAGENES */
/* ====================================== */
.carousel-inner {
    max-width: 1400px;
    margin: auto;
}


/* ====================================== */
/* NOSOTROS */
/* ====================================== */

/* Logo */
.logo-img2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img2 img {
    max-width: 50%;
    height: auto;
}

.text-primary {
  color: #EB9938  !important;
}

/* ====================================== */
/* MEDIA QUERIES PANTALLA PEQUEÑA */
/* ====================================== */
@media (max-width: 768px) {
    #nosotros {
        width: 80% !important;
    }
}