:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: calc(100vh - 80px);
}

a {
  text-decoration: none;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul {
  margin-bottom: 0px;
}


/* ====================================== */
/* BOTONES PRIMARY */
/* ====================================== */
.btn-general {
  background: #EB9938;
  border-color: #1e1a15;
  color: #fff;
}

.btn-general:hover {
  background-color: #fff;
  border-color: #1e1a15;
  color: #1e1a15;
}




/* ====================================== */
/* MENÚ */
/* ====================================== */
#menu a {
  font-size: 18px;
  font-weight: weight;
  color: #3f3f3f;
}

/* ====================================== */
/* BANNER DE IMAGENES */
/* ====================================== */
.carousel-inner {
  max-width: 1400px;
  margin: auto;
}

/* ====================================== */
/* NOSOTROS */
/* ====================================== */
.text-primary {
  color: #EB9938 !important;
}

#about {
  padding: 80px 0;
}

#about .about-content {
  padding-top: 40px;
}

#about .about-content h2 {
  color: #413e66;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

#about .about-content h3 {
  color: #EB9938;
  font-weight: 400;
  font-size: 22px;
  font-style: italic;
}

#about .about-content ul {
  list-style: none;
  padding: 0;
}

#about .about-content ul li {
  padding-bottom: 10px;
}

#about .about-content ul li i {
  font-size: 20px;
  padding-right: 4px;
  color: #EB9938;
}

#about .about-img {
  position: relative;
  margin: 30px 30px 30px 30px;
}

#about .about-img img {
  width: 100%;
  transition: .5s;
}

#about .about-img img:hover {
  width: 100%;
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}

#about .about-img::before {
  position: absolute;
  transition: .5s;
}


/* ====================================== */
/* SERVICIOS */
/* ====================================== */
#services {
  padding: 5px 0 40px 0;
}

#services .box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 10px 40px 10px;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(144, 125, 68, 0.1);
  transition: all 0.3s ease-in-out;
  text-align: center;
}

#services .box:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#services .icon {
  margin: 0 auto 15px auto;
  padding-top: 12px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

#services .icon i {
  font-size: 36px;
  line-height: 1;
}

#services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

#services .title a {
  color: #111;
}

#services .box:hover .title a {
  color: #EB9938;
}

#services .description {
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 0;
  text-align: left;
}



/* ====================================== */
/* ENCUESTA */
/* ====================================== */
.encuesta {
  background: #EB9938;
  background-size: cover;
  padding: 40px 0;
}

.encuesta .cta-title {
  color: #fff;
}

.encuesta .cta-text {
  color: #fff;
}

.encuesta .cta-btn {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 26px;
  border-radius: 3px;
  transition: 0.5s;
  margin: 10px;
  border: 3px solid #fff;
  color: #fff;
}

.encuesta .cta-btn:hover {
  background: #1e1a15;
  border: 3px solid #1e1a15;
}


/* ====================================== */
/* FOOTER */
/* ====================================== */
.footer {
  background: #1e1a15;
  padding-top: 90px;
  text-align: center;
}

ul.conta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

ul.conta li {
  color: #fff;
  text-align: left;
  padding-bottom: 20px;
  font-size: 18px;
  display: inline-flex;
  line-height: 30px;
}

ul.conta li:last-child {
  padding-right: 0;
}

ul.conta li i {
  padding-right: 15px;
  text-align: center;
  font-size: 33px;
  color: #fff;
}

ul.conta li a {
  color: #fff;
}

ul.social_icon {
  text-align: center;
}

.social_icon li {
  margin-right: 15px !important;
}

ul.social_icon li {
  display: inline-block;
  margin: 0 2px;
}

ul.social_icon li a i {
  background: #fff;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-radius: 20px;
  color: #212120;
  transition: ease-in all 0.5s;
}

ul.social_icon li a i:hover {
  color: #EB9938;
  background: #fff;
  transition: ease-in all 0.5s;
}

.copyright {
  margin-top: 35px;
  padding-bottom: 25px;
}

.copyright p {
  border-top: #909090 solid 1px;
  color: #fff;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  padding-top: 25px;
  font-weight: normal;
}

.copyright a {
  color: #fff;
}

.copyright a:hover {
  color: #EB9938;
}

/* ====================================== */
/* MEDIA QUERIES PANTALLA PEQUEÑA */
/* ====================================== */
@media (max-width: 768px) {
  /* Footer */
  .footer {
    padding-left: 15px;
    padding-right: 15px;
  }



}