:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: calc(100vh - 80px);
}

/* ====================================== */
/* MENÚ */
/* ====================================== */
#menu a {
  font-size: 18px;
  font-weight: weight;
  color: #3f3f3f;
}

/* ====================================== */
/* BANNER DE IMAGENES */
/* ====================================== */
.carousel-inner {
    max-width: 100%;
    margin: auto;
    max-height: 800px;
}

/* ====================================== */
/* NOSOTROS */
/* ====================================== */

/* Logo */
.logo-img2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img2 img {
  max-width: 50%;
  height: auto;
}

.text-primary {
color: #EB9938  !important;
}


/* ====================================== */
/* SERVICIOS */
/* ====================================== */

/* Imagenes servicios */
.img-servicios img {
  width: 180px;
  height: 180px;
}

.servicio-fila {
  text-align: center;
}



/* ====================================== */
/* MEDIA QUERIES PANTALLA PEQUEÑA */
/* ====================================== */
@media (max-width: 768px) {
  /* Nosotros */
  #nosotros {
      width: 80% !important;
  }

  /* Servicios */
  .servicio-fila {
      width: 100% !important;
      text-align: center;
  }
}